.Results .lander {
    padding: 20px 0;
    text-align: center;
  }
ul {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}
.Results .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}
